aenum==3.1.15
aiohttp==3.9.1
aiosignal==1.3.1
aiostream==0.5.2
alembic==1.13.1
alphashape==1.3.1
annotated-types==0.6.0
anthropic==0.6.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
appnope==0.1.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asteroid-filterbanks==0.4.0
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
asyncio==3.4.3
attrs==23.1.0
audioread==3.0.1
Babel==2.13.1
backoff==2.2.1
bcrypt==4.0.1
beautifulsoup4==4.12.2
bleach==6.1.0
blinker==1.7.0
cachetools==5.3.2
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.1
chroma-hnswlib==0.7.3
chromadb==0.4.15
click==8.1.7
click-log==0.4.0
click-plugins==1.1.1
cligj==0.7.2
cloudevents==1.10.1
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.8.0
comm==0.1.4
contourpy==1.2.0
cryptography==41.0.7
cycler==0.12.1
dataclasses-json==0.6.3
datasets==2.15.0
debugpy==1.8.0
decorator==4.4.2
deepgram-sdk==3.1.0
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
descartes==1.1.0
dill==0.3.7
distro==1.8.0
dnspython==2.4.2
docopt==0.6.2
effdet==0.4.1
einops==0.7.0
emoji==2.8.0
et-xmlfile==1.1.0
executing==2.0.1
fastapi==0.104.1
fastjsonschema==2.18.1
ffmpeg-python==0.2.0
filelock==3.13.1
filetype==1.2.0
fiona==1.9.5
Flask==2.3.3
flatbuffers==23.5.26
fonttools==4.44.0
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2023.10.0
functions-framework==3.4.0
future==0.18.3
geopandas==0.14.0
gitdb==4.0.11
GitPython==3.1.40
google-api-core==2.12.0
google-auth==2.23.4
google-cloud==0.34.0
google-cloud-core==2.3.3
google-cloud-storage==2.13.0
google-crc32c==1.5.0
google-resumable-media==2.6.0
googleapis-common-protos==1.61.0
gradientai==1.2.0
greenlet==3.0.1
grpcio==1.59.2
gunicorn==20.1.0
h11==0.14.0
httpcore==1.0.2
httptools==0.6.1
httpx==0.26.0
httpx-sse==0.3.1
huggingface-hub==0.19.4
humanfriendly==10.0
HyperPyYAML==1.2.2
idna==3.4
imageio==2.33.1
imageio-ffmpeg==0.4.9
importlib-metadata==6.8.0
importlib-resources==6.1.0
iopath==0.1.10
ipykernel==6.26.0
ipython==8.17.1
ipython-genutils==0.2.0
ipywidgets==8.1.1
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
json5==0.9.14
jsonlines==4.0.0
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
julius==0.2.7
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.8.0
jupyter-lsp==2.2.0
jupyter_client==8.5.0
jupyter_core==5.5.0
jupyter_server==2.9.1
jupyter_server_terminals==0.4.4
jupyterlab==4.0.7
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.25.0
kiwisolver==1.4.5
kubernetes==28.1.0
langchain==0.0.352
langchain-cli==0.0.9
langchain-community==0.0.6
langchain-core==0.1.10
langchain-experimental==0.0.47
langchain-openai==0.0.2.post1
langchainhub==0.1.14
langdetect==1.0.9
langserve==0.0.19
langsmith==0.0.73
layoutparser==0.3.4
lazy_loader==0.3
librosa==0.10.1
lightning==2.1.3
lightning-utilities==0.10.0
llama-index==0.9.17
llvmlite==0.41.1
loguru==0.7.2
lxml==4.9.3
Mako==1.3.0
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
metaphor-python==0.1.20
mistune==3.0.2
monotonic==1.6
moviepy==1.0.3
mpmath==1.3.0
msg-parser==1.2.0
msgpack==1.0.7
mteb==1.1.1
multidict==6.0.4
multiprocess==0.70.15
mypy-extensions==1.0.0
nbclient==0.9.0
nbconvert==7.13.0
nbformat==5.9.2
neo4j==5.15.0
nest-asyncio==1.5.8
networkx==3.2.1
nltk==3.8.1
notebook==7.0.6
notebook_shim==0.2.3
numba==0.58.1
numpy==1.26.1
oauthlib==3.2.2
olefile==0.47
omegaconf==2.3.0
onnx==1.15.0
onnxruntime==1.15.1
openai==1.7.2
opencv-python==4.8.1.78
openpyxl==3.1.2
opentelemetry-api==1.20.0
opentelemetry-exporter-otlp-proto-common==1.20.0
opentelemetry-exporter-otlp-proto-grpc==1.20.0
opentelemetry-proto==1.20.0
opentelemetry-sdk==1.20.0
opentelemetry-semantic-conventions==0.41b0
optuna==3.5.0
osmnx==1.7.1
overrides==7.4.0
packaging==23.2
pandas==2.1.2
pandocfilters==1.5.0
parso==0.8.3
pdf2image==1.16.3
pdfminer.six==20221105
pdfplumber==0.10.3
pexpect==4.8.0
pikepdf==8.10.1
Pillow==10.1.0
pinecone-client==2.2.4
# Editable install with no version control (pirate_speak==0.0.1)
-e /Users/gregorykamradt/Desktop/gk/Projects/LangChain/LangServ/my-app/packages/pirate_speak
platformdirs==3.11.0
pooch==1.8.0
portalocker==2.8.2
posthog==3.0.2
primePy==1.3
proglog==0.1.10
prometheus-client==0.18.0
prompt-toolkit==3.0.39
protobuf==4.25.0
psutil==5.9.6
ptyprocess==0.7.0
pulsar-client==3.3.0
pure-eval==0.2.2
pyannote.audio==3.1.1
pyannote.core==5.0.0
pyannote.database==5.0.1
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pyarrow==14.0.2
pyarrow-hotfix==0.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycocotools==2.0.7
pycparser==2.21
pycryptodome==3.19.0
pydantic==1.10.13
pydantic_core==2.10.1
pydub==0.25.1
Pygments==2.16.1
pypandoc==1.12
pyparsing==3.1.1
pypdf==3.17.3
pypdfium2==4.25.0
PyPika==0.48.9
pyproj==3.6.1
pysbd==0.3.4
pytesseract==0.3.10
python-dateutil==2.8.2
python-docx==1.1.0
python-dotenv==1.0.0
python-iso639==2023.6.15
python-json-logger==2.0.7
python-magic==0.4.27
python-multipart==0.0.6
python-pptx==0.6.23
pytorch-lightning==2.1.3
pytorch-metric-learning==2.4.1
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.1
qtconsole==5.4.4
QtPy==2.4.1
ragas==0.0.22
rapidfuzz==3.5.2
referencing==0.30.2
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.6.0
rpds-py==0.10.6
rsa==4.9
Rtree==1.1.0
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
safetensors==0.4.1
scikit-learn==1.3.2
scipy==1.11.3
seaborn==0.13.0
semver==3.0.2
Send2Trash==1.8.2
sentence-transformers==2.2.2
sentencepiece==0.1.99
shapely==2.0.2
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
speechbrain==0.5.16
SQLAlchemy==2.0.22
sse-starlette==1.6.5
stack-data==0.6.3
starlette==0.27.0
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tensorboardX==2.6.2.2
terminado==0.17.1
threadpoolctl==3.2.0
tiktoken==0.5.2
timm==0.9.12
tinycss2==1.2.1
tokenizers==0.15.0
tomli==2.0.1
torch==2.1.2
torch-audiomentations==0.11.0
torch-pitch-shift==1.2.4
torchaudio==2.1.2
torchmetrics==1.3.0.post0
torchvision==0.16.2
tornado==6.3.3
tqdm==4.66.1
traitlets==5.13.0
transformers==4.36.2
trimesh==4.0.4
typer==0.9.0
types-python-dateutil==2.8.19.14
types-requests==2.31.0.10
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.3
unstructured==0.11.5
unstructured-client==0.15.0
unstructured-inference==0.7.18
unstructured.pytesseract==0.3.12
uri-template==1.3.0
urllib3==2.1.0
uvicorn==0.23.2
uvloop==0.19.0
verboselogs==1.7
watchdog==3.0.0
watchfiles==0.21.0
wcwidth==0.2.9
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.4
websockets==12.0
Werkzeug==3.0.1
widgetsnbextension==4.0.9
wikipedia==1.4.0
wrapt==1.15.0
xlrd==2.0.1
XlsxWriter==3.1.9
xmltodict==0.13.0
xxhash==3.4.1
yarl==1.9.2
zipp==3.17.0
